{% extends 'base.html' %}
{%block title %} Real Blog - Perfil {% endblock %}


{%block header%}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer;" href="/feed">Real Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/feed">Feed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/new_post">Postar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" onclick="location.reload()">Meu perfil</a>
        </li>
        </ul>
        <span class="navbar-text">
        <div class="btn-group dropstart">
            <a href="/logout" type="button" class="btn btn-primary">{{username}}</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/feed">Feed</a></li>
            <li><a class="dropdown-item" href="/new_post">Postar</a></li>
            <li><a class="dropdown-item" href="/my_profile">Meu Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sair</a></li>
            </ul>
        </div>
        </span>
    </div>
    </div>
</nav>
{% endblock %}


{% block content %}

<div class="h-100 w-100">

    <div class="d-flex flex-column w-100 h-auto mt-5">

        <h2 class="text-center pt-5"><span class="text-secondary">Perfil:</span> <span class="text-white">{{username}}</span></h2>
        <h3>Postagens:</h3>
    {% if data %}
    {% for posts in data %} 
        <div class="d-flex w-100 border rounded p-3 mt-3 align-items-center justify-content-between">
            <div class="d-flex flex-column ">
               <h1>{{posts.title}}</h1>
               <a class="link-info" href="{{url_for('post_detail', id=posts.id)}}">Clique para ir para o post.</a>
            </div>
            <div>
                <a href="{{url_for('delete_post', id=posts.id)}}" class="btn btn-danger">Deletar</a>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <h2 class="text-danger">Este perfil ainda não possui postagens.</h2>
    {% endif %}

    </div>

</div>
{% endblock %}