{% extends 'base.html' %}

{% block title %}Real Blog - Registro {% endblock %}


{%block header%}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer;" href="/">Real Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre nós</a>
        </li>
      </ul>
      <span class="navbar-text">
<div class="btn-group dropstart">
<button type="button" class="btn btn-primary">Informações</button>
<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
<span class="visually-hidden">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="/">Início</a></li>
<li><a class="dropdown-item" href="/about">Sobre nós</a></li>
<li><a class="dropdown-item" href="/about">FAQ</a></li>
</ul>
</div>
      </span>
    </div>
  </div>
</nav>
{%endblock%}


{% block content %}



<section class="container d-flex justify-content-center align-items-center flex-column mt-5 ">
    <h1 class="w-100 text-center mb-5">Cadastro</h1>
    <form action="{{url_for('register')}}" method="POST" class="w-25 d-flex flex-column gap-2">
        <div class="mb-3">
          <label for="name" class="form-label">Usuário</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Senha</label>
          <input type="password" class="form-control" id="pwd" name="pwd">
        </div>
        <span class="text-center">Já possui conta?  <a href="/">Clique para logar.</a></span>

        <button type="submit" class="btn btn-primary w-50 align-self-center mt-3">Entrar</button>
      </form>
</section>


{% endblock %}